package pages

// import "github.com/axyut/dairygo/client/components"


templ Index(email string) {
	// @components.Nav()

		<div>
			Welcome {email}
		</div>
}

templ GuestIndex() {
	// @components.Nav()

		<div>
			Welcome guest
		</div>
}