package pages

import "github.com/axyut/dairygo/internal/types"
import "github.com/axyut/dairygo/client/components"

templ Index(user types.User, goods []types.Good, auds []types.Audience) {

		<div>
			@components.GetUser(user)
			@components.TodaysGoods(goods)
			@components.Audiences(auds)
			@components.Transaction(goods, auds)
		</div>
}