package pages

import "github.com/axyut/dairygo/internal/types"
import "github.com/axyut/dairygo/client/components"



templ Index(user types.User) {

		<div>
			Welcome {user.UserName}
			<h2>Profile</h2>
			@components.GetUser(user)
			<h2>Dashboard</h2>
		</div>
}