package pages

import "github.com/axyut/dairygo/internal/types"

templ Profile(user types.User){
    <div class="divContainer">
        <h1>Profile</h1>
        <p>Name: {user.UserName}</p>
        <p>Email: {user.Email}</p>
    </div>
}