package components

import "github.com/axyut/dairygo/internal/types"

templ GetUser(user types.User){
    <div>
        <h1>{user.UserName}</h1>
        <h2>{user.Email}</h2>
    </div>

}

// color red
templ GeneralToastError(msg string) {
    @Toast("Error! " + msg)
}

// color green
templ GeneralToastSuccess(msg string) {
    @Toast("Success! " + msg)
}