package components

templ Nav() {
	<nav >
		<div >
			<ol >
				<li>
					<a  href="/">Home</a>
				</li>
				<li>
					<a  href="/about">About</a>
				</li>
			</ol>
			<ol >
				// if middleware.GetUser(ctx) != nil {
					<li>
						<button  hx-post="/logout">Logout</button>
					</li>
				// } else {
					<li>
						<a  href="/register">Register</a>
					</li>
					<li>
						<a  href="/login">Login</a>
					</li>
				// }
			</ol>
		</div>
	</nav>
}