package public

templ IndexCss() {
	<style type="text/css">
		p {
			font-family: sans-serif;
		}
		.simpleButton {
			background-color: green;
			color: white;
			border: solid 1px black;
			border-radius: 5px;
			padding: 5px;
			cursor: pointer;
			
		}
	</style>
}